@using WordleClash.Core.Entities
@model WordleClash.Web.Pages.User.Partials.LogPartialModel


@{
    var nextPage = Model.CurrentPage + 1;
}
@for (var i = 0; i < Model.Logs.Count; i++)
{
    var isLastRow = i == Model.Logs.Count - 1;
    var log = Model.Logs[i];
    var status = log.Status.ToString().ToUpper();
    <tr class="log" 
        @if (isLastRow)
        {
            @:hx-get="@Url.Page("/User/Index", "Log", new { id = nextPage })" 
            @:hx-trigger="revealed" 
            @:hx-target="#break@(nextPage)" 
            @:hx-swap="afterend"
        }
    >
        <td>@log.Word</td>
        <td>@log.Tries</td>
        <td>@(log.Time.HasValue ? log.Time : "N/A")</td>
        <td>@GameLog.GetTimeDifference(log.Date)</td>
        <td class="@status">@status</td>
    </tr>
    <tr class="break" @(!isLastRow ? "" : $"id=break{nextPage}")></tr>
}
