@page "{code}"
@using WordleClash.Core.Enums
@model WordleClash.Web.Pages.Play.IndexModel

@{
    Layout = "Shared/_Layout";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/wordlegame.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/pages/versus.css" asp-append-version="true"/>
}

<div class="page__container">
    <div class="grid__container" hx-sse="connect:/updates">
        <div class="grid__left">
        </div>
        <div class="grid__middle">
            <div
                hx-trigger="sse:PlayerUpdate/@Model.Lobby!.Code"
                hx-get="@Url.Page("/Play/Index", "Field")"
                hx-target="#field">
            </div>
            <div
                id="field"
                hx-trigger="sse:FieldUpdate/@Model.Lobby.Code"
                hx-get="@Url.Page("/Play/Index", "Field")">
                <partial name="Partials/MultiplayerField" model="Model"/>
            </div>
            <h1>@Model.Lobby.Code</h1>
        </div>
        <div class="grid__right">
            <h2>Opponent</h2>
            <div
                hx-trigger="sse:PlayerUpdate/@Model.Lobby.Code"
                hx-get="@Url.Page("/Play/Index", "Opponent")">
                <partial name="Partials/Opponent" model="@Model.GetOpponent()"/>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/WriteInTiles.js" asp-append-version="true"></script>
    <script>
        const GetCanTypeVal = () => {
            return document.getElementById("canType").value;
        }
        UpdateAllowedType(GetCanTypeVal())
        document.addEventListener("htmx:afterSwap", function(event) {
            if (event.detail.target.id === "field") {
                UpdateAllowedType(GetCanTypeVal())
            }
        });
        window.onbeforeunload = () => {
            return true;
        }
    </script>
}
