@page "{code}"
@model WordleClash.Web.Pages.Play.IndexModel

@{
    Layout = "Shared/_Layout";
}
<div class="wrapper">
    <h1>@Model.Code</h1>
    <div>
        <h2>@Model.Players.Count</h2>
        <div hx-sse="connect:/updates">
            <div
                hx-trigger="sse:PlayerUpdate"
                hx-get="@Url.Page("/Play/Index", "Players")"
                >
                
            </div>
        </div>
        @foreach (var p in Model.Players)
        {
            <h2>
                @p.Id | @p.Name
                @if (p.IsOwner)
                {
                    <span>(Owner)</span>
                }
            </h2>
        }
    </div>
</div>

@section Scripts
{
    <script>
        window.onbeforeunload = () => {
            return true;
        }
    </script>
}
